__pycache__/
.idea/
.vscode/
.pytest_*/
*.py[cod]
venv/
.venv/
.env
gifs.txt
gifs.json
example.py
logs.json
errors.log
info.log
modo.log

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
cov.xml
*.cover
.hypothesis/
.pytest_cache/
